## .NET / VS
bin/
obj/
.vs/
*.user
*.suo
publish/
TestResults/
## Project
testdata/
/cache/
*.part
tools/ffmpeg/*.exe
tools/ffmpeg/*.dll
tools/cache/
src/VideoAutoTool.Core/Cache/test.txt
## Media
*.mp4
*.mov
*.mkv
*.avi
*.webm
*.wav
*.mp3
## OS
Thumbs.db
.DS_Store
